*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
clearfix:after{
  contant:" ";
  display:table ;
  clear: :both;
}
.big{
  color: red;
  margin-bottom: 25px;
  font-size: 15px;
  font-family: Times New Roman;
}
.small{
  text-align: justify;
}
.main{
  background-color: blue;
  text-align: justify;
  width: 75%;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.blank{
  background-color: green;
  width: 15%;
  float: left;
}
.authercontant{
  border-top: 1px solid grey;
  float: left;
}